body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

form {
  margin-bottom: 60px;
}

label {
  display: block;
}

.cars {
  display: flex;
}
